body {
    background-color: rgb(243, 243, 243);
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    color: black;
    font-weight: bold;
  }

  #checkout-pfp-button{
    display: flex;
    position: absolute;
    border: 2px black;
    margin-top: 10px;
    margin-left: 1650px;
    
  }

  #checkout-profile-image-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 140px;
  }
  
  header, footer {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 1850px;
    height: 40px;
    border-radius: 4px;
  }
  
.checkout-page{
    flex: 1; 
  display: flex;
  flex-direction: column; 
}

.checkout-container{
    background: #FFFFFF;
    Height: 805px;
    Margin-left: 500px;
    Width: 900px;
    text-align: center;
    position: relative;
    Margin-Top: 10px;
    Margin-Bottom: 10px;
    border-radius: 2px;
}



.checkout-content{
    display: grid;
    margin: 20px;
    border: none;
    height: 380px;
    overflow-y: scroll;
    border-radius: 10px;
}

.checkout-home-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    background-color: green;
    padding: 6px;
    width: 90px;
    margin-top: 50px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: white;
}

.checkout-home-button:hover{
    background-color: darkgreen;
}

.checkout-payment-button {
    background-color: green;
    padding: 6px;
    width: 180px;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: white;
}

.checkout-payment-button:hover{
    background-color: darkgreen;
}

.checkout-payment-form{
    border-radius: 10px;
    width: 400px;
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.checkout-payment-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-fill{
    text-align: left;
    margin: 30px;
    border-top: 2px solid lightgray;
}

.checkout-cc{
    margin-left: 20px;
}

 .checkout-expiry{
   margin-left: 108px;
}

.checkout-sc{
    margin-left: 60px;
} 

.checkout-item-picture{
    width: 200px;
    height: 190px;
    border-bottom: 2px solid lightgray;
}

.checkout-item-description{
    width: 500px;
    height: 190px;
    border-bottom: 2px solid lightgray;
}



#checkout-item-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }

  .checkout-item{
    padding: 30px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

.checkout-payment-font{
    font-weight: 100;
    color: rgb(131, 120, 120);
    font-size: 15px;
}

.checkout-remove-link{
    text-decoration: underline;
    color:red;
}

.checkout-quantity-container {
    display: flex; 
    margin-bottom: 5px;
  }

  .checkout-quantity{
    display: flex;
  }
  
  .checkout-quantity-text{
    display: flex;
    margin-left: 143px;
  }

  .quantity-btn-minus {
    width: 5px;
    height: 5px;
    background-color: rgb(235, 105, 105);
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
    margin-top: 1px;
    margin-left: 5px;
    transition: background-color 0.2s ease;
    font-weight: bold;
    border-radius: 2px;
  }
  
  .quantity-btn-minus:hover{
    background-color: darkred;
  }
  
  .quantity-btn-plus {
    width: 5px;
    height: 5px;
    background-color: rgb(104, 197, 104);
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
    margin-top: 1px;
    margin-left: 5px;
    transition: background-color 0.2s ease;
    font-weight: bold;
    border-radius: 2px;
  }
  
  .quantity-btn-plus:hover{
    background-color: darkgreen;
  }
