.item-list {
    display: flex;
    overflow-x: auto;
    padding: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border: 0px solid #ccc; /* Border around the entire item list */
    white-space: nowrap; /* Prevent line breaks and allow horizontal scrolling */
    background-color: white;
    background-color: 1DAF55(255,255,255,0.5);
  }
  
  .item {
    display: inline-block;
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    width: 200px; /* Fixed width for each item */
    margin-right: 20px; /* Space between items */
    text-align: center;
    background: linear-gradient(135deg, #f3f3f3 0%, #e2e2e2 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Border around each item */
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  }
  
  .item-picture img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }
  
  .item-details {
    margin-top: 10px;
  }
  
  .item-discount {
    background-color: #ff4444;
    color: white;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .item-name {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .item-price {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    background-color: #6BDD97;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #1DAF55;
  }
  