.App {
    font-family: Arial, sans-serif;
  }
  
  .search {
    width: 1150px;
    min-width: 1150px;
    max-width: 1150px;
    border-radius: 10px;  
    height: 30px; 
    padding: 5px; 
    font-size: 15px;
  }

  