.container {
    display: flex;      
    align-items:center;      
    justify-content: space-between; 
    margin: 20px;           

  }
  .orders, .items {
    background-color: #6BDD97; 
    border-radius: 5px;      
    padding: 20px;           
    color: white;           
    flex: 1;          
    margin: 5px;                    
    text-align: center;      
  }
  
 

  .orders:hover {
    transform: scale(1.0);
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    box-shadow: 0 10px 20px rgba(21, 0, 0, 0.245); 
  }

  .items:hover {
    transform: scale(1.0); 
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    box-shadow: 0 10px 20px rgba(21, 0, 0, 0.245); 
  }
  

  
  
  