.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #6BDD97;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .vertical_line {
    border-left: 2px solid white; 
    height: 100px;                
    margin: 0px 0px;               
  }
  
  .title {
   
    font-size: 2em;                 
    font-weight: bold;                
    color: #f3f9f5;           
    text-align: center;               
    margin-top: 20px;                
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  }

  
  
  .profile-cart {
    display: flex;
    align-items: center;
  }
  
  .profile, .order_history, .logout {
    margin-left: 20px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile:hover, .order_history:hover, .logout:hover {
    background-color: #1DAF55;
  }
  