/* .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

} */

.time {
    background-color: #6BDD97;
    border-radius: 5px;
    color: white;
    flex: 1;
}

.text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}